@import "src/styles/skins";

:host {
  @media (max-width: 767.99px) {
    height: 160px;
  }
}

.form-block {
  @media (max-width: 767.99px) {
    padding: 5px 5px 10px;
    max-width: 300px;
    margin: 0 auto;
  }
}

label,
input,
button,
.validation {
  width: 100%;
  font-size: 14px;
  display: block;
}

small {
  color: $accent-color;
}

label {
  color: rgba($gray-color, 0.8);
}

input {
  padding: 5px 10px;
  color: rgba($gray-color, 0.8);
  outline: none;
  border: 1px solid rgba($gray-color, 0.4);

  &::placeholder {
    color: rgba($gray-color, 0.4);
  }
}

.form-control {
  position: relative;
  height: 50px;

  &.invalid {

    input {
      border-color: $accent-color;

      &::placeholder {
        color: rgba($accent-color, 0.4);
      }
    }

  }
}

.submit-btn {
  font-family: var(--main-font);
  outline: none;
  border: none;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  cursor: pointer;
  background-color: $accent-color;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    background-color: $gray-color;
  }
}

.validation {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.loader {}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  top: -2px;
}

.lds-ellipsis div {
  position: absolute;
  top: 16.5px;
  width: 6.5px;
  height: 6.5px;
  border-radius: 50%;
  background: $light-color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
