@import "src/styles/mixins";
@import "src/styles/skins";

.header {
  position: absolute;
  width: 100%;
  height: 80px;
  padding: 5px 0;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.title {
  @include adaptive-font(33, 21);
  letter-spacing: 0.7em;
  margin-right: -0.7em;
  color: $gray-color;
  font-family: var(--sub-font);
}

.line {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg,
    rgba(#fff, 0) 0%,
    $accent-color 15%,
    $detail-color 50%,
    $decoration-color 85%,
    rgba(#fff, 0) 100%);
}
