<div class="modal-post" *ngIf="width > 768; else fullPageBlock">

  <div
    (click)="closeModal()"
    [@backdrop]
    class="backdrop"
    *ngIf="isShowComponent"
  ></div>

  <div class="modal" [@modalWindow] *ngIf="isShowComponent">
    <div class="content-column">
      <div class="img-block">
        <img src="{{ post.link }}" alt="">
        <small class="post-data">{{ post.postDate | date: 'longDate' }}</small>
      </div>
      <app-form-add-comment></app-form-add-comment>
    </div>
    <div class="comments-column">
      <app-post-comments
        [comments]="comments"
      ></app-post-comments>
    </div>
  </div>

</div>

<ng-template #fullPageBlock>
  <div class="modal-post">
    <div class="modal" [@modalWindow] *ngIf="isShowComponent">

      <div
        (click)="closeModal()"
        class="btn-close-ls"
      >
        <div></div>
        <div></div>
      </div>
      <div class="img-block">
        <img src="{{ post.link }}" alt="">
        <small class="post-data">{{ post.postDate | date: 'longDate' }}</small>
      </div>
      <app-post-comments
        [comments]="comments"
      ></app-post-comments>
      <app-form-add-comment></app-form-add-comment>
    </div>
  </div>
</ng-template>

