<div class="post-comments" *ngIf="comments.length; else emptyComments">
  <div
    class="comment-block"
    [@comment]
    *ngFor="let comment of comments"
  >
    <div class="comment-header">
      <div class="comment-user">{{ comment.userName }}</div>
      <div class="comment-data">{{ comment.commentDate | date: 'H:mm | d.MM.yy' }}</div>
    </div>
    <div class="comment-text">{{ comment.comment }}</div>
  </div>
</div>


<ng-template #emptyComments>
  <div class="emptyComments">
    Comments ran away :(
  </div>
</ng-template>
