<div class="post-comments">
  <div class="comment-block">
    <div class="comment-header">
      <div class="comment-user">Volodya</div>
      <div class="comment-data">10.10.10</div>
    </div>
    <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi asperiores at consequuntur corporis dolorem expedita harum hic illo iusto, minima nemo, omnis perspiciatis quasi ratione soluta sunt veritatis voluptatibus.</div>
  </div>
  <div class="comment-block">
    <div class="comment-header">
      <div class="comment-user">Volodya</div>
      <div class="comment-data">10.10.10</div>
    </div>
    <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi asperiores at consequuntur corporis dolorem expedita harum hic illo iusto, minima nemo, omnis perspiciatis quasi ratione soluta sunt veritatis voluptatibus.</div>
  </div>
  <div class="comment-block">
    <div class="comment-header">
      <div class="comment-user">Volodya</div>
      <div class="comment-data">10.10.10</div>
    </div>
    <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi asperiores at consequuntur corporis dolorem expedita harum hic illo iusto, minima nemo, omnis perspiciatis quasi ratione soluta sunt veritatis voluptatibus.</div>
  </div>
  <div class="comment-block">
    <div class="comment-header">
      <div class="comment-user">Volodya</div>
      <div class="comment-data">10.10.10</div>
    </div>
    <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi asperiores at consequuntur corporis dolorem expedita harum hic illo iusto, minima nemo, omnis perspiciatis quasi ratione soluta sunt veritatis voluptatibus.</div>
  </div>
  <div class="comment-block">
    <div class="comment-header">
      <div class="comment-user">Volodya</div>
      <div class="comment-data">10.10.10</div>
    </div>
    <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi asperiores at consequuntur corporis dolorem expedita harum hic illo iusto, minima nemo, omnis perspiciatis quasi ratione soluta sunt veritatis voluptatibus.</div>
  </div>
</div>
